<h1>CartItems#new</h1>
<p>Find me in app/views/cart_items/new.html.erb</p>
pro:<%= @cart_item.product_id %><br>
cart:<%= @cart_id %><br>
<%= form_for @cart_item, url: {action: :create} do |pro|%>

<%= pro.label :qty, '数量' %>
<%= pro.number_field :qty, in: 1.0..10, step: 1 %>
<%= pro.submit '追加' %>

<% end %>
